/* styles/components/usersIndex.module.css */
.usersContainer {
  width: 100%;
  margin-top: 1em;
}

.usersTitle,
.usersItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 8px;
}

.usersTitle {
  background-color: #f2f2f2;
}

.usersTitle div,
.usersItem div {
  text-align: left;
}


/* 親要素から見たn番目のdivタグにスタイルを当てる */
.usersTitle div:nth-child(1),
.usersItem div:nth-child(1) {
  flex: 1.5; /* 名前   flex-growのこと*/
}

.usersTitle div:nth-child(2),
.usersItem div:nth-child(2) {
  flex: 2; /* メールアドレス */
}

.usersTitle div:nth-child(3),
.usersItem div:nth-child(3) {
  flex: 1.5; /* 電話番号 */
}

.usersTitle div:nth-child(4),
.usersItem div:nth-child(4) {
  flex: 1; /* 性別 */
}

.usersTitle div:nth-child(5),
.usersItem div:nth-child(5) {
  flex: 1.5; /* 生年月日 */
}

.usersTitle div:nth-child(6),
.usersItem div:nth-child(6) {
  flex: 1.5; /* 職業 */
}
